<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.persistence.linepo.LinePoMapper">
	<sql id="linePo">id,lineName</sql>
	
	<select id="getLinePo" resultType="com.test.pojo.LinePo" parameterType="com.test.pojo.Line">
		select <include refid="linePo" /> from linepo where lineType=#{id}
	</select>
</mapper>